<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">

<head>
    <title>List All Professors</title>
</head>

<body>
    <h1>List All Professors</h1>

    <table>
        <thead>
            <tr>
                <th> ID </th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Salary </th>
            </tr>
        </thead>
        <tbody>
        <tr th:if="${allProfessors.empty}">
                <td colspan="2"> N/A </td>
            </tr>
            <tr th:each="prof : ${allProfessors}">
                <td><span th:text="${prof.getUid()}"> ID </span></td>
                <td><span th:text="${prof.getFirstName()}"> First Name </span></td>
                <td><span th:text="${prof.getLastName()}"> Last Name </span></td>
                <td><span th:text="${prof.getSalary()}"> Salary </span></td>
            </tr>
        </tbody>
    </table>
</body>

</html>